
/*            --------------------------- Background Image --------------------------- */

body {
    
        background-image: url('vandabackground.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #202833;
    }

h1 {
    text-align: center;
    color: white;
    font-family: 'lato'
}

p {
    color: white;
    text-align: center;
    font-family: 'lato'

}